<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idan.lungupfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".CreateNewPatient" />
        <activity android:name=".CaregiverMenuActivity" />
        <activity android:name=".PatientMenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AssignedPatientsActivity" />
        <activity android:name=".AssignedUsersActivity" />
        <activity android:name=".CreateNewExerciseActivity" />
        <activity android:name=".ExercisesPlanActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PatientSumActivity" />
        <activity android:name=".PerformCustomExercise" />
        <activity android:name=".SpinnerGame" />
    </application>

</manifest>